<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.componentasystemtest">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MediaPlayer.MediaPlayerActivity">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name=".photoZip.PhotoZipActivity">


            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->


        </activity>
        <activity android:name=".ScreenTest.ScreenTestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".asyncTask.LoaderActivity" />
        <activity android:name=".asyncTask.AsyncActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".surface.Demo3Activity" />
        <activity android:name=".viewDragHelper.MyActivity" />
        <activity android:name=".xml.MainActivity" />
        <activity android:name=".Annomation.MyActivityDemo7" />
        <activity android:name=".scrollview.viewGroup.MyActivity" />
        <activity android:name=".ColorMetrix.MyActivity" />
        <activity android:name=".scrollview.Activity.ScrollViewDemo1" />
        <activity android:name=".scrollview.Activity.HerizontalScrollViewGroup" />
        <activity android:name=".palette.MyPalette" />
        <activity android:name=".notification.MyNotification" />
        <activity android:name=".moveLinearViewDisplay.LinearActivity" />
        <activity android:name=".downloadService.activity.EnvirnmentFilePathTest" />
        <activity android:name=".downloadService.activity.DownloadFileTest" />
        <activity android:name=".density.Density" />
        <activity android:name=".DecorView.DectorActivity" />
        <activity android:name=".consumeViewAttribute.AttrActivity" />
        <activity android:name=".circular.MyCircularReveal" />
        <activity android:name=".canvas.MainActivity.MyViewGroupTestActivity" />
        <activity android:name=".canvas.MainActivity.Activity" />

        <service android:name=".downloadService.service.DownloadService" />

        <receiver android:name=".broadcastTest.ActivityTest">
            <intent-filter>
                <action android:name="com.example.componentasystemtest.broadcastTest" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastTest.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"></action> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".view.ViewBgActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".JobScheduler.simple2.JobSchedulerActivity" />
        <activity android:name=".dialog.simple1.DialogActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".dialog.Simple2.DialogWidthTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".serializable.fragmentSerializableTest.FragmentSerizlizableActivity" />


        <!-- exported  这个地方必须是True，否则外界的应用无法启动该JobService -->
        <!-- permission   必须定义这个权限，你懂得 -->
        <service
            android:name=".JobScheduler.simple1.DownloadJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".JobScheduler.simple2.MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>